@import 'https://fonts.googleapis.com/css?family=Raleway';

  * {
    font-family: 'Raleway', sans-serif;
  }
  .popup {
    cursor: pointer;
    padding: 24px 8px;
    width: 200px;
    background: white;
  }

  p {
    font-size: 18px;
    margin: 0;
    padding: 0;
    padding-left: 16px;
  }

  #time-number {
    font-size: 18px;
  }
